@use "../../stylesUtils/" as *;

.collapseElement {
  border-radius: 5px;
  background-color: $background-primary;
  margin: 0 107px 30px 107px;
  @include tablets {
    margin: 0 50px 25px 50px;
  }
  @include mobiles {
    margin: 0 0 20px 0;
  }
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    width: 100%;
    padding: 10px 25px 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    @include mobiles {
      padding: 6px 10px 6px 10px;
    }
    h2,
    span {
      color: $secondary-color;
      font-size: 24px;
      font-weight: 400;
      @include mobiles {
        font-size: 14px;
      }
    }
    span {
      height: 24px;
      @include mobiles {
        height: 14px;
      }
    }
  }
  .content {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    padding: 28px 40px 12px 15px;
    @include mobiles {
      font-size: 12px;
      padding: 17px 10px 40px 10px;
    }
  }
}