//COLORS

$primary-color: #FF6060;
$secondary-color: white;
$background-primary: #F6F6F6;
$background-footer: black;

//FONTS
$primary-font: 'Montserrat', sans-serif;

//MEDIA QUERIES
$breakpoints: (
  tablet: 992px,
  mobile: 768px
);